/* navigation */

.primary-nav {
    display: none;
}

.popup-nav {
    display: none;
}

.page-link {
    display: block;
    text-align: center;
    padding: var(--size-300) var(--size-400);
}

.page-link:hover {
    background: var(--clr-neutral-100);
    color: var(--clr-primary-400);
}

/* sections */

.about, .rar, .nas, .las, .lpal {
    width: 100%;
    padding: var(--size-400) var(--size-900);
    font-size: var(--fs-650);
}

.rar {
    background: var(--clr-btn1-faded);
    border-radius: var(--size-300) var(--size-300) 0 0;
    border-bottom: var(--size-150) solid var(--clr-neutral-100);
}

.nas {
    background: var(--clr-btn2-faded);
    border-top: var(--size-150) solid var(--clr-neutral-100);
    border-bottom: var(--size-150) solid var(--clr-neutral-100);
}

.las {
    background: var(--clr-btn3-faded);
    border-top: var(--size-150) solid var(--clr-neutral-100);
    border-bottom: var(--size-150) solid var(--clr-neutral-100);
}

.lpal {
    background: var(--clr-btn4-faded);
    border-radius: 0 0 var(--size-300) var(--size-300);
    border-top: var(--size-150) solid var(--clr-neutral-100);
}

a:link {
    color: var(--clr-accent-400);
}