@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Courgette&family=Kurale&display=swap');

/* Background */
html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

body {
    background-size: cover;
    background: white no-repeat;
    font-family: 'Kurale';
}

#mainBody {
    margin-top: -20px;
    margin-bottom: -20px;
}

/* Nav bar */
nav {
    background: rgba(0, 255, 195, 0.7);
    color: #fff;
}

#toPages {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    font-weight: bold;
}

.nav1 {
    float: right;
    display: block;
    color: #fff;
    padding: 12px 16px;
    font-size: 21px;
    text-decoration: none;
}

.nav1:hover {
    background-color: #fff;
    color: #1d7358;
}

#logo {
    position: relative;
    display: flex;
    align-items: center;
    float: left;
    color: #fff;
    width: 30%;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 16px;
}

#logo img {
    width: 60px;
    margin-right: 10px;
}

#logo span {
    color: rgb(243, 243, 243);
    font-size: 30px;
}

/* Footer */

footer {
    margin-top: auto;
    padding: 1px;
    background: rgba(0, 255, 195, 0.7);
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* Header */

h1 {
    color: #26201d;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    padding-top: 4px;
    padding-left: 4px; 
}

/* Accounts page */

.accountBox1, .accountBox2 {
    display: inline-block;
    margin-left: 10%;
}

/* Accounts Box 1 */

.accountBox1 {
    margin-left: 20%;
    margin-top:3%;
}

.profilePicture {
    margin: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    border: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.profilePicture img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.welcome p {
    color: #26201d;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 0px;
    padding: 4px;
}

.welcome {
    margin: auto;
    margin-top: 20px;
    top: 73%; left: 19%; 
}

/* Account Box 2 */

.accountBox2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 60%;
    position: absolute;
    top: 41%;
    left: 60%;
    transform: translate(-50%, -50%);
  }

/* Style for each grid item */
.grid-item1 {
    border-right: 1px solid #26201d;
    padding: 10px;
    padding-right: 30px;
    text-align: right;
    font-weight: bold;
    font-size: 25px;
}

.grid-item1:last-child {
    border-right: none;
}

.grid-item2 {
    padding: 10px;
    padding-left: 0px;
    text-align: left;
    font-size: 25px;
}

/* Buttons */

#button1 {
    position: absolute;
    background: #F2B4B4;
    border-radius: 17%;
    border-color: #F2B4B4;
    color:#262016;
    font-family: 'Kurale';
    font-size: 20px;
    font-weight: bold;
    border: 0px ;
    top: 75%; left: 5%; 
    height: 13%;
    width: 13%;
    cursor: pointer; 
    transition-duration: 0.4s;
}

#button2 {
    position: absolute;
    background: #CCF7D1;
    border-radius: 17%;
    border-color: #CCF7D1;
    color:#262016;
    font-family: 'Kurale';
    font-size: 20px;
    font-weight: bold;
    border: 0px ;
    top: 75%; left: 30%; 
    height: 13%;
    width: 13%;
    cursor: pointer;
    transition-duration: 0.4s;
}

#button3 {
    position: absolute;
    background: #FFF6AB;
    border-radius: 17%;
    border-color: #FFF6AB;
    color:#262016;
    font-family: 'Kurale';
    font-size: 20px;
    font-weight: bold;
    border: 0px ;
    top: 75%; left: 56%; 
    height: 13%;
    width: 13%;
    cursor: pointer;
    transition-duration: 0.4s;
}

#button4 {
    position: absolute;
    background: #7FBCCE;
    border-radius: 17%;
    border-color: #7FBCCE;
    color:#262016;
    font-family: 'Kurale';
    font-size: 20px;
    font-weight: bold;
    border: 0px ;
    top: 75%; left: 82%; 
    height: 13%;
    width: 13%;
    cursor: pointer;
    transition-duration: 0.4s; 
}

#button1:hover, #button2:hover, #button3:hover, #button4:hover {
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Popups */

.popup {
    display: none;
    width: 25%;
    height: 25%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 255, 195, 0.4);
    border: 2px solid rgba(0,197,224, 0.2);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;   
}

.close {
    color: rgb(0, 114, 129);
    font-size: 300%;
    margin-left: 5%;
    cursor: pointer;
}

#imagePath {
    width: 70%;
    margin-left: 60px;
    padding: 10px;
    background: rgb(0, 255, 195);
    color: rgb(32, 31, 31);
    border: none;
    border-radius: 5px;
}

#displayNameInput, #regEmail, #oldPassword, #newPassword {
    width: 70%;
    margin-left: 60px;
    margin-bottom: 20px;
    padding: 10px;
    background: rgb(0, 255, 195);
    color: rgb(32, 31, 31);
    border: none;
    border-radius: 5px;
} #displayName:focus, #regEmail:focus, #oldPassword:focus, #newPassword:focus { outline: none; }
#oldPassword { margin-bottom: 5px; }

#confirmRemoval {
    margin-top: -5px;
    text-align: center;
    color: rgb(32, 31, 31);
    font-size:20px;
    font-weight: bolder;
}

#displayPicBtn, #displayNameBtn, #emailBtn, #removePicBtn, #passwordBtn {
    width: 70%;
    margin-top: 20px;
    margin-left: 70px;
    padding: 8px;
    background: orange;
    color: rgb(32, 31, 31);
    border: none;
    border-radius: 5px;
    font-family: 'Kurale';
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
} #removePicBtn { margin-top: 10px; } #passwordBtn { margin-top: 0; }
#displayPicBtn:hover, #displayNameBtn:hover, #emailBtn:hover, #removePicBtn:hover, #passwordBtn:hover {
    background: rgb(0,197,224);
    font-weight: bolder;
    color: orange;
}