/* navigation */

.primary-nav {
    display: none;
}

.popup-nav {
    display: none;
}

.page-link {
    display: block;
    text-align: center;
    padding: var(--size-300) var(--size-400);
}

.page-link:hover {
    background: var(--clr-neutral-100);
    color: var(--clr-primary-400);
}

/* account info */

.profile-pic {
    cursor: pointer;
}

.grid-item1 {
    border: 1px solid var(--clr-neutral-900);
    padding: var(--size-250);
    padding-right: var(--size-550);
    text-align: right;
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
}

.grid-item2 {
    border: 1px solid var(--clr-neutral-900);
    padding: var(--size-250);
    padding-left: 0;
    text-align: center;
    font-size: var(--fs-650);
}

/* option buttons */

.buttons {
    gap: var(--size-300);
}

.button {
    cursor: pointer; 
    width: 90%;
    border-radius: 17%;
    border: 0;
    padding: var(--size-500) var(--size-400);
}

.button:hover {
    color: var(--clr-primary-400);
    transform: scale(1.1);
    box-shadow: 0 0 var(--size-450) var(--clr-faded-black);
}

/* Popups */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(0,197,224, 0.2);
    border-radius: 1rem;
    box-shadow: 0 0 1.25rem var(--clr-faded-black);
    z-index: 1000;   
}

.close {
    cursor: pointer;
    padding: 0;
    color: var(--clr-primary-900);
    font-size:var(--fs-900);
    margin-left: 5%;
}

.image-path {
    padding: var(--size-250);
    border: none;
    border-radius: var(--size-100);
}

.popup-btn {
    cursor: pointer;
    width: 70%;
    padding: var(--size-200);
    background: var(--clr-accent-400);
    border: none;
    border-radius: var(--size-200);
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
}

.popup-btn:hover {
    background: var(--clr-primary-600);
    font-weight: var(--fw-bolder);
    color: var(--clr-accent-400);
}

.popup-input {
    width: 70%;
    background: var(--clr-primary-450);
    padding: var(--size-250);
    border: none;
    border-radius: var(--size-200);
}

.popup-input:focus {
    outline: none;
}

@media (min-width: 36em) {
    .heading {
        font-size: var(--fs-900);
    }

    .welcome {
        font-size: var(--fs-800);
    }
}

@media (min-width: 37em) {
    .profile-pic {
        width: 40%;
    }
}

@media (min-width: 68em) {
    .menu {
        display: none;
    }

    .primary-nav {
        display: flex;
    }

    .page-list {
        gap: var(--size-300);
        font-size: var(--fs-700);
    }

    .main > .container:nth-child(1) {
        max-width: 100%;
        flex-direction: row;
        gap: var(--size-700);
    }

    .main > .container:nth-child(2) {
        padding-top: var(--size-650);
    }

    .profile-pic {
        width: 60%;
    }

    .grid-item1, .grid-item2 {
        font-size: var(--fs-700);
    }

    .buttons {
        flex-direction: row;
        gap: var(--size-600);
    }

    .button {
        width: var(--size-1400);
        height: var(--size-975);
        font-size: var(--fs-700);
    }

    .footer {
        margin-top: var(--size-700);
    }
}

@media (min-width: 52em) and (max-height: 38em) {
    .menu {
        display: none;
    }

    .primary-nav {
        display: flex;
    }

    .page-list {
        gap: var(--size-300);
        font-size: var(--fs-700);
    }

    .main > .container:nth-child(1) {
        max-width: 100%;
        flex-direction: row;
        gap: var(--size-700);
    }

    .main > .container:nth-child(2) {
        padding-top: var(--size-700);
    }

    .heading {
        font-size: var(--fs-800);
    }

    .profile-pic {
        width: 35%;
    }

    .welcome {
        font-size: var(--fs-700);
    }

    .grid-item1, .grid-item2 {
        font-size: var(--fs-650);
    }

    .buttons {
        flex-direction: row;
        gap: var(--size-600);
    }

    .button {
        padding: 0 var(--size-300);
        height: var(--size-900);
        font-size: var(--fs-650);
    }

    .footer {
        margin-top: var(--size-550);
    }
}

@media (min-width: 61em) and (max-height: 38em) {
    .main > .container:nth-child(2) {
        padding-top: var(--size-550);
    }
}

@media (min-width: 65em) and (max-height: 38em) {
    .footer {
        margin-top: var(--size-500);
    }
    .main > .container:nth-child(2) {
        padding-top: var(--size-500);
    }
}

@media (min-width: 69em) and (max-height: 38em) {
    .footer {
        margin-top: var(--size-450);
    }
    .main > .container:nth-child(2) {
        padding-top: var(--size-450);
    }
}