/* navigation */

.primary-nav {
    display: none;
}

.popup-nav {
    display: none;
}

.page-link {
    display: block;
    text-align: center;
    padding: var(--size-300) var(--size-400);
}

.page-link:hover {
    background: var(--clr-neutral-100);
    color: var(--clr-primary-400);
}

/* help box */

.help {
    position: relative;
    width: 100%;
    height: var(--size-1575);
}

.help img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.help-grid {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 95%;
    height: 80%;
  }

.buttons {
    gap: var(--size-300);
}

.button {
    cursor: pointer; 
    width: 90%;
    border-radius: 17%;
    border: 0;
    padding: var(--size-500) var(--size-400);
    font-size: var(--fs-600);
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 var(--size-450) var(--clr-faded-black);
}

/* home header */

.report-btn {
    cursor: pointer;
    background-color: var(--clr-accent-200);
    font-weight: var(--fw-bold);
    border-radius: var(--size-200);
    padding: var(--size-200) var(--size-450);
    border: none; 
}

.report-btn:hover {
    background-color: var(--clr-neutral-900);
    color: var(--clr-accent-200);
    font-weight: var(--fw-bolder);
}

/* posts and comments */

.full-post, .sub-post, .comment-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.sub-post { width: 100%; }
.comments { width: 85%; }


.full-post {
    gap: var(--size-400);
    color: white;
    border-radius: var(--size-550);
    border: 1px solid var(--clr-primary-900);
    padding: var(--size-450);
    margin-bottom: var(--size-450);
}

.post, .comment {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--size-200);
}

.post-content {
    width: 100%;
}

.post-pic, .comment-pic {
    width: 15%;
    border-radius: 50%;
    margin-top: 4%;
}

.post-script, .comment-script, .comment-content {
    width: 100%;
    background: #1d7358;
    padding: 3%;
    border-top-left-radius: var(--size-400);
    border-top-right-radius: var(--size-400);
    border-bottom-right-radius: var(--size-400);
}

.comment-content {
    background: none;
}

.comment-script {
    background-color: #ecc65c;
    color: var(--clr-neutral-900);
}

.post-title {
    font-weight: var(--fw-bold);
}

.post-info, .comment-btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: var(--fs-e600);
}

.post-info, .comment-info {
    gap: var(--size-475);
    color: var(--clr-neutral-900);
}

.comment-link {
    cursor: pointer;
    background: none;
    border: none;
    font: inherit;
    font-weight: var(--fw-semi-bold);
}

.comment-link:hover {
    color: var(--clr-primary-900);
}

/* tooltip */

.post-details, .comment-details {
    cursor: default;
    position: relative;
}

.post-details:hover::after, .comment-details:hover::after {
    content: attr(data-fulltext);
    position: absolute;
    top: 90%;
    width: 18ch;
    text-align: center;
    background: var(--clr-faded-black);
    color: var(--clr-neutral-100);
    font-size: var(--fs-400);
    box-shadow: 0 0 var(--size-150) var(--clr-box-border);
    white-space: normal;
    z-index: 1;
}

.category-det:hover::after {
    left: 10%;
}

.post-ts:hover::after {
    right: 10%;
}

.comment-ts:hover::after {
    top: 80%;
    right: 10%;
    font-size: var(--fs-200);
}

/* Popups */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(0,197,224, 0.2);
    border-radius: 1rem;
    box-shadow: 0 0 1.25rem var(--clr-faded-black);
    z-index: 1000;
    padding: 1rem;
}

.popup-btn {
    cursor: pointer;
    width: 70%;
    padding: var(--size-200);
    background: var(--clr-accent-400);
    border: none;
    border-radius: var(--size-200);
    font-weight: var(--fw-bold);
    font-size: var(--fs-650);
}

.popup-btn:hover {
    background: var(--clr-primary-600);
    font-weight: var(--fw-bolder);
    color: var(--clr-accent-400);
}

.dropdown {
    width: 100%;
    background-color: var(--clr-primary-450);
    border-radius: var(--size-200);
    padding: var(--size-100);
}

.popup-input {
    width: 100%;
    background: var(--clr-primary-450);
    padding: var(--size-250);
    border: none;
    border-radius: var(--size-200);
}

.popup-input:focus, .dropdown:focus {
    outline: none;
}

/* @media (min-width: 36em) {
    .heading {
        font-size: var(--fs-900);
    }

    .welcome {
        font-size: var(--fs-800);
    }
}

@media (min-width: 37em) {
    .profile-pic {
        width: 40%;
    }
}

@media (min-width: 68em) {
    .menu {
        display: none;
    }

    .primary-nav {
        display: flex;
    }

    .page-list {
        gap: var(--size-300);
        font-size: var(--fs-750);
    }

    .main > .container:nth-child(1) {
        max-width: 100%;
        flex-direction: row;
        gap: var(--size-700);
    }

    .main > .container:nth-child(2) {
        padding-top: var(--size-650);
    }

    .profile-pic {
        width: 60%;
    }

    .grid-item1, .grid-item2 {
        font-size: var(--fs-700);
    }

    .buttons {
        flex-direction: row;
        gap: var(--size-600);
    }

    .button {
        width: var(--size-1400);
        height: var(--size-975);
        font-size: var(--fs-700);
    }

    .footer {
        margin-top: var(--size-700);
    }
}

@media (min-width: 52em) and (max-height: 38em) {
    .menu {
        display: none;
    }

    .primary-nav {
        display: flex;
    }

    .page-list {
        gap: var(--size-300);
        font-size: var(--fs-700);
    }

    .main > .container:nth-child(1) {
        max-width: 100%;
        flex-direction: row;
        gap: var(--size-700);
    }

    .main > .container:nth-child(2) {
        padding-top: var(--size-700);
    }

    .heading {
        font-size: var(--fs-800);
    }

    .profile-pic {
        width: 35%;
    }

    .welcome {
        font-size: var(--fs-700);
    }

    .grid-item1, .grid-item2 {
        font-size: var(--fs-650);
    }

    .buttons {
        flex-direction: row;
        gap: var(--size-600);
    }

    .button {
        padding: 0 var(--size-300);
        height: var(--size-900);
        font-size: var(--fs-650);
    }

    .footer {
        margin-top: var(--size-550);
    }
}

@media (min-width: 61em) and (max-height: 38em) {
    .main > .container:nth-child(2) {
        padding-top: var(--size-550);
    }
}

@media (min-width: 65em) and (max-height: 38em) {
    .footer {
        margin-top: var(--size-500);
    }
    .main > .container:nth-child(2) {
        padding-top: var(--size-500);
    }
}

@media (min-width: 69em) and (max-height: 38em) {
    .footer {
        margin-top: var(--size-450);
    }
    .main > .container:nth-child(2) {
        padding-top: var(--size-450);
    }
} */