@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Courgette&family=Kurale&display=swap');

/* DEFINE CSS VARIABLES */

:root {
    --container-height: 100dvh;

    --clr-accent-500: hsl(39, 100%, 30%);
    --clr-accent-400: hsl(39, 100%, 50%);
    --clr-accent-300: hsl(39, 88%, 75%);
    --clr-accent-250: hsl(44, 79%, 40%);
    --clr-accent-200: hsl(44, 79%, 64%);
    --clr-accent-100: hsl(40, 100%, 96%);
  
    --clr-primary-400: hsl(166, 100%, 50%);
    --clr-primary-450: hsl(166, 100%, 45%);
    --clr-primary-500: hsl(190, 100%, 43.9%);
    --clr-primary-600: hsl(190, 100%, 43.9%);
    --clr-primary-900: hsl(187, 100%, 25%);
  
    --clr-neutral-100: hsl(0, 0%, 98%);
    --clr-neutral-200: hsl(0, 0%, 90%);
    --clr-neutral-400: hsl(227, 12%, 61%);
    --clr-neutral-700: hsl(233, 12%, 30%);
    --clr-neutral-900: hsl(233, 12%, 13%);

    --clr-box-bg: hsla(190, 100%, 43.9%, 0.5);
    --clr-box-border: hsla(190, 100%, 43.9%, 0.3);
    --clr-input-bg: hsla(0, 0%, 95%, 0.6);
    --clr-popup-bg: hsla(166, 100%, 50%, 0.4);
    --clr-faded-black: hsla(233, 12%, 13%, 0.3);
    --clr-btn1-faded: hsla(0, 70%, 83%, 0.8);
    --clr-btn2-faded: hsla(127, 73%, 88%, 0.9);
    --clr-btn3-faded: hsla(54, 100%, 84%, 0.9);
    --clr-btn4-faded: hsla(194, 45%, 65%, 0.3);

    --clr-button1: hsl(0, 70%, 83%);
    --clr-button2: hsl(127, 73%, 88%);
    --clr-button3: hsl(54, 100%, 84%);
    --clr-button4: hsl(194, 45%, 65%);
    --clr-btn1-hover: hsl(0, 91%, 62%);
    --clr-btn2-hover: hsl(127, 27%, 42%);
    --clr-btn3-hover: hsl(39, 100%, 30%);
    --clr-btn4-hover: hsl(195, 100%, 28%);
    --clr-post-bg: hsl(161, 60%, 28%);

    --ff-primary: "Kurale", sans-serif;
  
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);
  
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
    --fw-bolder: 900;
  
    --fs-100: 0.6875rem;
    --fs-200: 0.75rem;
    --fs-300: 0.8125rem;
    --fs-400: 0.875rem;
    --fs-500: 0.9375rem;
    --fs-600: 1rem;
    --fs-620: 1.1rem;
    --fs-640: 1.2rem;
    --fs-650: 1.25rem;
    --fs-660: 1.3rem;
    --fs-680: 1.4rem;
    --fs-700: 1.5rem;
    --fs-720: 1.6rem;
    --fs-740: 1.7rem;
    --fs-750: 1.75rem;
    --fs-760: 1.8rem;
    --fs-800: 2rem;
    --fs-810: 2.1rem;
    --fs-820: 2.2rem;
    --fs-825: 2.25rem;
    --fs-830: 2.3rem;
    --fs-840: 2.4rem;
    --fs-850: 2.5rem;
    --fs-875: 2.75rem;
    --fs-900: 3rem;
    --fs-950: 4rem;
    --fs-1000: 5rem;

    --fs-e300: 0.8125em;
    --fs-e400: 0.875em;
    --fs-e500: 0.9375em;
    --fs-e600: 1em;
    --fs-e625: 1.25em;
    --fs-e640: 1.4em;
    --fs-e650: 1.5em;
    --fs-e675: 1.75em;
    --fs-e700: 1.5em;
    --fs-e750: 1.8em;
    --fs-e800: 2em;
    --fs-e825: 2.25em;
    --fs-e850: 2.5em;
    --fs-e875: 2.75em;
    --fs-e900: 3em;
    --fs-e950: 4em;
    --fs-e1000: 5em;
  
    --size-100: 0.25rem;
    --size-150: 0.375rem;
    --size-200: 0.5rem;
    --size-250: 0.625rem;
    --size-300: 0.75rem;
    --size-350: 0.875rem;
    --size-400: 1rem;
    --size-450: 1.25rem;
    --size-475: 1.375rem;
    --size-500: 1.5rem;
    --size-550: 1.75rem;
    --size-600: 2rem;
    --size-650: 2.5rem;
    --size-700: 3rem;
    --size-725: 3.25rem;
    --size-750: 3.5rem;
    --size-775: 3.75rem;
    --size-800: 4rem;
    --size-825: 4.25rem;
    --size-900: 5rem;
    --size-925: 5.5rem;
    --size-950: 6rem;
    --size-975: 6.5rem;
    --size-1000: 7rem;
    --size-1400: 15rem;
    --size-1500: 17rem;
    --size-1550: 18rem;
    --size-1575: 18.5rem;
    --size-1600: 19rem;

    --size-e100: 0.25em;
    --size-e200: 0.5em;
    --size-e250: 0.625em;
    --size-e300: 0.75em;
    --size-e350: 1.875em;
    --size-e400: 1em;
    --size-e450: 1.25em;
    --size-e500: 1.5em;
    --size-e550: 1.75em;
    --size-e600: 2em;
    --size-e700: 3em;
    --size-e800: 4em;
    --size-e900: 5em;
    --size-e1000: 7em;

    --max-width: 45rem;
    --max-width-s: 33rem;
    --pic-max-width: 5rem;

    /* Style for smallest screen size */
  
    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-nav: var(var(--fs-500));
    --fs-button: var(--fs-300)
  }
  
  /* Add media queries for larger screen sizes */
  
  @media (min-width: 50em) {
    :root {
      --fs-body: var(--fs-500);
      --fs-primary-heading: var(--fs-900);
      --fs-secondary-heading: var(--fs-800);
      --fs-nav: var(--fs-300);
    }
  }
  
  /* RESET DEFAULT CCS STYLES */
  
  /* Box sizing rules */
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  
  /* Remove default margin, padding and font styling */
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'], ol[role='list'] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set defzult height - prevents double scroll bars */
  html, body {
    min-height: 100%;
    overflow-x: hidden;
  }
  
  /* Set core body defaults */
  body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /* Set shorter line heights on headings and interactive elements */
  h1, h2, h3, h4, button, input, label {
    line-height: 1.1;
  }
  
  /* Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* Anchor elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }
  
  /* Make images and other media easier to work with */
  img, picture, video, canvas, svg {
    max-width: 100%;
    display: block;
  }
  
  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }
  
  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }
  
  /* Create a root stacking context */
  #root, #__next {
    isolation: isolate;
  }
  
  /* Remove all animations, transitions, and smooth ... */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
  
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
  }

/* CREATE UTILITY CLASSES */

/* elements */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(0);
    white-space: nowrap; /* no added line */
    border: 0;
  }
  
  .container {
    --max-width: 70rem; /* coverting to rem is preferred */
    --container-padding: 1rem;
  
    width: min(var(--max-width), 100% - (var(--container-padding)*2));
    margin-inline: auto;
  }

  .flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-column-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .flex-row-right {
      display: flex;
      justify-content: right;
      align-items: center;
  }

  .flex-row-space {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .grid-account-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--size-100);
  }

  .grid-help-l {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--size-300);
  }

  .grid-help-s {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-300);
  }

  .about-bg {
    background: var(--clr-neutral-100);
    border-radius: var(--size-300);
  }

  /* height */

  .body-h { height: var(--container-height); }

  .height-auto { height: auto; }
  .height-100 { height: 100%; }
  .height-85 { height: 85%; }
  .height-75 { height: 75%; }
  .height-70 { height: 70%; }
  .height-60 { height: 60%; }
  .height-50 { height: 50%; }
  .height-40 { height: 40%; }
  .height-30 { height: 30%; }
  .height-25 { height: 25%; }
  .height-20 { height: 20%; }
  .height-15 { height: 15%; }
  .height-5 { height: 5%; }

  /* width */

  .max-width { max-width: var(--max-width); }
  .max-width-s { max-width: var(--max-width-s); }
  .pic-max-width { max-width: var(--pic-max-width); }

  .width-1 { width: 1rem; }
  .width-2 { width: 2rem; }
  
  .width-auto { width: auto; }
  .width-100 { width: 100%; }
  .width-90 { width: 90%; }
  .width-80 { width: 80%; }
  .width-75 { width: 75%; }
  .width-60 { width: 60%; }
  .width-50 { width: 50%; }
  .width-40 { width: 40% }
  .width-30 { width: 30% }
  .width-25 { width: 25%; }
  .width-20 { width: 20%; }

  /* margins */

  .section-margin-top-l { margin-top: calc(var(--container-height) / (100 / 2.5)); }
  .section-margin-top-m { margin-top: calc(var(--container-height) / (100 / 1.5)); }
  .section-margin-top-s { margin-top: calc(var(--container-height) / (100 / 1)); }

  .popup-margin-top { margin-top: var(--size-400); }
  .popup-margin-bottom { margin-bottom: var(--size-400); }
  .popup-btn-margin { margin-bottom: var(--size-800); }

  .margin-top-l { margin-top: var(--size-900); }
  .margin-top-m { margin-top: var(--size-500); }
  .margin-top-s { margin-top: var(--size-400); }

  .bullet-points-1 { margin-left: var(--size-750); }
  .bullet-points-s { margin-left: var(--size-650); }

  /* padding */

  .body-padding { padding: 0 var(--size-400); }

  .section-padding-l { padding: calc(var(--container-height) / (100 / 2.5)) 1.5rem; }
  .section-padding-m { padding: calc(var(--container-height) / (100 / 1.5)) 1rem; }
  .section-padding-s { padding: calc(var(--container-height) / (100 / 1)) 0.5rem; }

  .padding-top-s { padding-top: var(--size-400); }
  .padding-top-m { padding-top: var(--size-700); }
  .padding-top-l { padding-top: var(--size-900); }

  .padding-bottom-xs { padding-bottom: var(--size-100); }
  .padding-bottom-s { padding-bottom: var(--size-400); }
  .padding-bottom-m { padding-bottom: var(--size-700); }

  .menu-padding { padding: var(--size-300) var(--size-400); }

  /* flex gaps */

  .gap-200 { gap: var(--size-200); }
  .gap-400 { gap: var(--size-400); }
  .gap-500 { gap: var(--size-500); }
  .gap-600 { gap: var(--size-600); }
  .gap-700 { gap: var(--size-700); }
  .gap-800 { gap: var(--size-800); }
  .gap-900 { gap: var(--size-900); }

  /* borders */

  .circle { border-radius: 50%; }
  .heading-border {
    border: var(--size-100) solid var(--clr-primary-900);
    border-radius: var(--size-300);
  }

  /* background colors */

  .bg-primary { background: var(--clr-primary-400); }
  .bg-none { background: none; }
  
  .bg-faded-blue { background: var(--clr-box-border); }
  .bg-popups { background: var(--clr-popup-bg); }
  
  .l-blue { background: lightblue; }
  .yellow { background: yellow; }
  .red { background: red; }
  .peru { background: peru; }
  .pink { background: pink; }
  .green { background: green; }
  .l-grey { background: lightgrey; }
  .grey { background: grey; }
  
  .clr-button1 {
      background: var(--clr-button1);
      border-color: var(--clr-button1);
  }
  .clr-button2 {
      background: var(--clr-button2);
      border-color: var(--clr-button2);
  }
  .clr-button3 {
      background: var(--clr-button3);
      border-color: var(--clr-button3);
  }
  .clr-button4 {
      background: var(--clr-button4);
      border-color: var(--clr-button4);
  }

  /* font */

  .fc-orange { color: var(--clr-accent-400); }
  .fc-l-orange { color: var(--clr-accent-300); }
  .fc-green { color: var(--clr-primary-400); }
  .fc-d-green { color: var(--clr-primary-500); }
  .fc-navy-green { color: var(--clr-primary-600); }
  .fc-white { color: var(--clr-neutral-100); }
  .fc-l-grey { color: var(--clr-neutral-200); }
  .fc-grey { color: var(--clr-neutral-400); }
  .fc-black { color: var(--clr-neutral-900); }
  
  .ff-body { font-family: var(--ff-primary); }
  
  .fs-300 { font-size: var(--fs-300); }
  .fs-400 { font-size: var(--fs-400); }
  .fs-500 { font-size: var(--fs-500); }
  .fs-600 { font-size: var(--fs-600); }
  .fs-620 { font-size: var(--fs-620); }
  .fs-640 { font-size: var(--fs-640); }
  .fs-650 { font-size: var(--fs-650); }
  .fs-660 { font-size: var(--fs-660); }
  .fs-680 { font-size: var(--fs-680); }
  .fs-700 { font-size: var(--fs-700); }
  .fs-720 { font-size: var(--fs-720); }
  .fs-740 { font-size: var(--fs-740); }
  .fs-750 { font-size: var(--fs-750); }
  .fs-760 { font-size: var(--fs-760); }
  .fs-800 { font-size: var(--fs-800); }
  .fs-810 { font-size: var(--fs-810); }
  .fs-820 { font-size: var(--fs-820); }
  .fs-825 { font-size: var(--fs-825); }
  .fs-830 { font-size: var(--fs-830); }
  .fs-840 { font-size: var(--fs-840); }
  .fs-850 { font-size: var(--fs-850); }
  .fs-875 { font-size: var(--fs-875); }
  .fs-900 { font-size: var(--fs-900); }
  .fs-950 { font-size: var(--fs-950); }
  .fs-1000 { font-size: var(--fs-1000); }
  
  .fw-regular { font-weight: var(--fw-regular); }
  .fw-semi { font-weight: var(--fw-semi-bold); }
  .fw-bold { font-weight: var(--fw-bold); }
  .fw-bolder { font-weight: var(--fw-bolder); }
  
  /* text */
  
  .text-center { text-align: center; }
  .text-right { text-align: right; }
  .text-left { text-align: left; }
  
  .no-li-style { list-style-type: none; }
  .no-a-style { text-decoration: none; }

  /* checkboxes */

  .checkbox { transform: scale(1.5); }

  /* hover */

  .clr-button1:hover { color: var(--clr-btn1-hover); }
  .clr-button2:hover { color: var(--clr-btn2-hover); }
  .clr-button3:hover { color: var(--clr-btn3-hover); }
  .clr-button4:hover { color: var(--clr-btn4-hover); }