  /* GENERAL STYLING */

  body {
    background: var(--clr-primary-400);
    font-family: var(--ff-body);
    color: var(--clr-neutral-900);
}

.container > * {
    margin-top: var(--size-600);
}

/* logo */

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 25%;
}

.logo p {
    margin-top: calc(var(--size-100)*-1);
    color: var(--clr-neutral-100);
    font-size: var(--fs-1000);
}

/* footer */

footer {
    text-align: center;
    color: var(--clr-neutral-100);
    font-size: var(--fs-700);
}

/* content */

.intro {
    color:var(--clr-neutral-900);
    text-align: center;
    font-size: var(--fs-800);
}

/* buttons */

.btns {
    display: flex;
    flex-direction: row;
    padding: var(--size-100);
    gap: var(--size-600);
}

button {
    cursor: pointer;
    width: 90%;
    padding: var(--size-300);
    background: var(--clr-accent-400);
    color: var(--clr-neutral-900);
    font-size: var(--fs-800);
    font-weight: var(--fw-bold);
    border: none;
    border-radius: var(--size-200);
}

button:hover {
    background: var(--clr-primary-400);
    font-weight: var(--fw-bold);
    color: var(--clr-accent-400);
}

@media (max-width: 36em) {    
    button {
        padding: var(--size-100);
        font-size: var(--fs-800);
    }
}

@media (max-width: 34em) {
    .intro {
        font-size: var(--fs-750);
    }
}

@media (max-height: 49em) {
    .container {
        margin-top: var(--size-200);
    }
    .logo p {
        font-size: var(--fs-900);
    }
    .intro {
        font-size: var(--fs-700);
    }
    button {
        padding: var(--size-100);
        font-size: var(--fs-700);
    }
    footer {
        font-size: var(--fs-600);
    }
}