/* buttons */

.buttons {
    gap: calc(var(--container-height) / (100 / 1.5));
}

.button {
    width: 100%;
    padding: calc(var(--container-height) / (100 / 1));
    background: var(--clr-accent-400);
    font-size: var(--fs-650);
    font-weight: var(--fw-bold);
    border: none;
    border-radius: var(--size-200);
    cursor: pointer;
}

.button:hover {
    background: var(--clr-primary-600);
    font-weight: bolder;
    color: var(--clr-accent-400);
}

@media (min-width: 33em) {
    .text {
        font-size: var(--fs-750);
    }
}

@media (min-width: 41em) {
    .text {
        font-size: var(--fs-800);
   }
}

@media (min-width: 50em) {
    .main > .container {
        width: 60%;
        max-width: 60%;
    }

    .text {
        font-size: var(--fs-720);
        padding: calc(var(--container-height) / (100 / 2.5)) 1.5rem;
    }

    .intro {
        height: 60%;
    }

    .buttons {
        height: 40%;
        gap: calc(var(--container-height) / (100 / 3));
    }
    
    .button {
        font-size: var(--fs-760);
    }
}

@media (min-width: 56em) {
    .text {
        font-size: var(--fs-740);
    }
}

@media (min-width: 61em) {
    .text {
        font-size: var(--fs-760);
    }
}

@media (min-width: 76em) {
    .text {
        font-size: var(--fs-800);
    }
}

@media (min-width: 87em) {
    .text {
        font-size: var(--fs-825);
    }
}

@media (min-width: 101em) {
    .text {
        font-size: var(--fs-830);
    }
}

@media (min-width: 105em) {
    .text {
        font-size: var(--fs-840);
    }
}

@media (min-width: 109em) {
    .text {
        font-size: var(--fs-850);
    }
}

@media (max-height: 52em) {
    .intro {
        height: 65%;
    }

    .buttons {
        height: 35%;
        gap: calc(var(--container-height) / (100 / 2));
    }
    
    .button {
        font-size: var(--fs-620);
    }
}

@media (max-height: 52em) and (min-width: 28em) {
    .main > .container {
        max-width: var(--max-width-s);
    }
    .text {
        font-size: var(--fs-640);
    }
}

@media (max-height: 52em) and (min-width: 34em) {
    .text {
        font-size: var(--fs-660);
    }
}

@media (max-height: 52em) and (min-width: 55em) {
    .main > .container {
        width: 60%;
        max-width: 60%;
    }
    
    .text {
        font-size: var(--fs-680);
    }
}