/* form */

.cta { align-items: flex-end; }
.login { justify-content: flex-start; }

.form {
    gap: calc(var(--container-height) / (100 / 3));
    background: var(--clr-box-bg);
    border: 1% solid var(--clr-box-border);
    border-radius: var(--size-200);
    padding: calc(var(--container-height) / (100 / 2.5));
}

.login-input {
    width: 100%;
    padding: calc(var(--container-height) / (100 / 1.5));
    background: var(--clr-input-bg);
    border: transparent;
    border-radius: var(--size-200);
}
.login-input:focus { outline: none; }

/* button */

.login-btn {
    width: 100%;
    padding: calc(var(--container-height) / (100 / 1.5));
    background: var(--clr-accent-400);
    font-size: var(--fs-650);
    font-weight: var(--fw-bold);
    border: none;
    border-radius: var(--size-200);
    cursor: pointer;
}

.login-btn:hover {
    background: var(--clr-primary-600);
    font-weight: bolder;
    color: var(--clr-accent-400);
}

/* other */

.reg-here {
    font-size: var(--fs-650);
}

.reg-link {
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-900);
    text-decoration: none;
}

.reg-link:hover {
    color: var(--clr-accent-400);
}

@media (min-width: 30em) {
    .text {
        font-size: var(--fs-760);
        padding: calc(var(--container-height) / (100 / 2.5)) 0;
    }
}

@media (min-width: 38em) {
    .text {
        font-size: var(--fs-800);
   }
}

@media (min-width: 45em) {
    .text {
        font-size: var(--fs-875);
    }
}

@media (min-width: 77em) {
    .main {
        flex-direction: row;
    }

    .main > .container {
        flex-direction: row;
        width: 75%;
        max-width: 75%;
    }

    .cta {
        height: 100%;
        width: 50%;
        align-items: center;
    }

    .login {
        justify-content: center;
    }

    .text {
        font-size: var(--fs-950);
        text-align: right;
        padding: calc(var(--container-height) / (100 / 2.5)) 1.5rem;
    }

    .login {
        height: 100%;
        width: 50%;
    }

    .form {
        gap: calc(var(--container-height) / (100 / 5));
    }
}

@media (min-width: 90em) {
    .text {
        font-size: var(--fs-1000);
    }
}

@media (max-height: 46em) {
    .text {
        font-size: var(--fs-650);
    }
    .form {
        gap: calc(var(--container-height) / (100 / 3.5));
        padding: calc(var(--container-height) / (100 / 1.5));
    }
    .login-input {
        padding: calc(var(--container-height) / (100 / 0.5));
    }
    .login-btn {
        padding: calc(var(--container-height) / (100 / 0.5));
        font-size: var(--fs-600);
    }
    .reg-here {
        font-size: var(--fs-600);
    }
}

@media (max-height: 46em) and (min-width: 28em) {
    .main > .container {
        max-width: var(--max-width-s);
    }
    .text {
        font-size: var(--fs-680);
    }
}

@media (max-height: 46em) and (min-width: 37em) {
    .text {
        font-size: var(--fs-760);
    }
}

@media (max-height: 46em) and (min-width: 55em) {
    .main {
        flex-direction: row;
    }

    .main > .container {
        flex-direction: row;
        width: 75%;
        max-width: 75%;
    }

    .cta {
        height: 100%;
        width: 50%;
        align-items: center;
    }

    .login {
        justify-content: center;
    }

    .text {
        font-size: var(--fs-900);
        text-align: right;
        padding: calc(var(--container-height) / (100 / 2.5)) 1.5rem;
    }

    .login {
        height: 100%;
        width: 50%;
    }

    .form {
        gap: calc(var(--container-height) / (100 / 5));
    }
}

@media (max-height: 46em) and (min-width: 74em) {
    .text {
        font-size: var(--fs-950);
    }
}