@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Courgette&family=Kurale&display=swap');

body {
    background: rgba(0, 255, 195, 0.7);
    font-family: 'Kurale';
}

nav {
    display: flex;
    align-items: center;
    margin-top: -2.5%;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 200px;
    margin-right: 10px;
}

#logo span {
    color: rgb(243, 243, 243);
    font-size: 50px;
}

footer {
    text-align: center;
    color: rgb(243, 243, 243);
}

.container {
    display: flex;
    margin-top: -1.5%;
}

#background {
    text-align: right;
    padding: 2% 10% 6% 10%;
    color: rgb(243, 243, 243);
    font-size: 50px;
}

#regBox {
    width: 100%;
    height: 100%;
    margin: 5.5% auto;
    display: grid;
    place-items: start;
}

#inner {
    width: 50%;
    background: rgba(0,197,224, 0.5);
    border: 2px solid rgba(0,197,224, 0.3);
    border-radius: 15px;
    padding: 25px 25px 5px 25px;
}

#form {
    margin-bottom: 20px;
}

.regInput {
    width: 95%;
    padding: 10px;
    background: rgba(243, 243, 243, 0.6);
    margin-bottom: 10px;
    border: transparent;
    border-radius: 5px;
}
.regInput:focus { outline: none; } .regInput:last-of-type { margin-bottom: -10px; }

#regBtn {
    width: 101%;
    padding: 5px;
    margin-top: 0;
    background: orange;
    color: rgb(32, 31, 31);
    font-family: 'Kurale';
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#regBtn:hover {
    background: rgb(0,197,224);
    font-weight: bolder;
    color: orange;
}

#other {
    margin-left: 100px;
    font-size: 14px;
    color: rgb(0, 52, 59);
}

.other {
    color: rgb(0, 52, 59);
    font-family: 'Kurale';
    font-weight: bold;
    text-decoration: none;
}

.other:hover {
    color: orange;
}

@media (max-width: 1280px) {
    
    #logo img {
        width: 120px;
    }
    
    #logo span {
        font-size: 35px;
    }

    footer {
        margin-top: -25px;
        margin-bottom: -10px;
    }

    #background {
        padding: 6% 10% 0 10%;
        font-size: 25px;
    }
    
    #regBox {
        margin: 2% auto;
    }
    
    #inner {
        width: 50%;
        padding: 25px 25px 5px 25px;
    }
    
    #form {
        margin-bottom: 20px;
    }
    
    .regInput {
        margin-bottom: 0;
    }

    #regBtn {
        margin-top: -10px;
        font-size: 20px;
    }

    #other {
        margin-top: -10px;
        margin-bottom: 5px;
        margin-left: 60px;
        font-size: 14px;
    }
    
}

@media (max-width: 475px) {
    
    #logo img {
        margin-left: 70px;
        width: 70px;
    }
    
    #logo span {
        font-size: 30px;
    }

    .container {
        display: block;
    }

    #background {
        margin-top: 0;
        text-align: center;
        font-size: 16px;
    }
    
    #regBox {
        margin: 10px 0 0 70px;
    }

    .regInput {
        margin-bottom: -10px;
    }
    
    #other {
        margin: -10px 0 0 5px;
        text-align: center;
    }

    footer {
        margin-top: 30px;
        margin-bottom: -10px;
    }
    
}