/* GENERAL STYLING */

body {
    background: var(--clr-primary-400);
    font-family: var(--ff-body);
    color: var(--clr-neutral-900);
}

.container > * {
    margin-top: var(--size-600);
}

/* header */

.logo img {
    width: 30%;
}

.logo span {
    color: var(--clr-neutral-100);
    font-size: var(--fs-900);
}

/* footer */

footer {
    text-align: center;
    color: var(--clr-neutral-100);
    font-size: var(--fs-600);
}

/* register */

.background {
    text-align: center;
    color: var(--clr-neutral-100);
    font-size: var(--fs-700);
}

.inner {
    background: var(--clr-box-bg);
    border: 1% solid var(--clr-box-border);
    border-radius: var(--size-200);
    padding: var(--size-600);
}

.regInput {
    width: 100%;
    padding: var(--size-200);
    background: var(--clr-input-bg);
    margin-bottom: 0.25rem;
    border: transparent;
    border-radius: var(--size-200);
}
.regInput:focus { outline: none; }

/* button */

.reg-btn {
    width: 100%;
    padding: var(--size-200);
    background: var(--clr-accent-400);
    font-size: var(--fs-650);
    font-weight: var(--fw-bold);
    border: none;
    border-radius: var(--size-200);
    cursor: pointer;
}

#regBtn:hover {
    background: var(--clr-primary-600);
    font-weight: bolder;
    color: var(--clr-accent-400);
}

/* other */

.login-here {
    font-size: var(--fs-600);
}

.login-link {
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-900);
    text-decoration: none;
}

.login-link:hover {
    color: var(--clr-accent-400);
}