/* form */

.form {
    gap: calc(var(--container-height) / (100 / 3));
    background: var(--clr-box-bg);
    border: 1% solid var(--clr-box-border);
    border-radius: var(--size-200);
    padding: calc(var(--container-height) / (100 / 2.5));
}

.reg-input {
    width: 100%;
    padding: calc(var(--container-height) / (100 / 1.5));
    background: var(--clr-input-bg);
    border: transparent;
    border-radius: var(--size-200);
}
.reg-input:focus { outline: none; }

/* button */

.reg-btn {
    width: 100%;
    padding: calc(var(--container-height) / (100 / 1.5));
    background: var(--clr-accent-400);
    font-size: var(--fs-650);
    font-weight: var(--fw-bold);
    border: none;
    border-radius: var(--size-200);
    cursor: pointer;
}

.reg-btn:hover {
    background: var(--clr-primary-600);
    font-weight: bolder;
    color: var(--clr-accent-400);
}

/* other */

.login-here {
    font-size: var(--fs-650);
}

.login-link {
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-900);
    text-decoration: none;
}

.login-link:hover {
    color: var(--clr-accent-400);
}

@media (min-width: 38em) {
    .text { font-size: var(--fs-800); }
}

@media (min-width: 77em) {
    .main {
        flex-direction: row;
    }

    .main > .container {
        flex-direction: row;
        width: 75%;
        max-width: 75%;
    }

    .cta {
        height: 100%;
        width: 50%;
    }

    .text {
        font-size: var(--fs-950);
        text-align: right;
    }

    .register {
        height: 100%;
        width: 50%;
    }

    .form {
        gap: calc(var(--container-height) / (100 / 5));
    }
}

@media (min-width: 90em) {
    .text {
        font-size: var(--fs-1000);
    }
}

@media (max-height: 46em) {
    .text {
        font-size: var(--fs-650);
    }
    .form {
        gap: calc(var(--container-height) / (100 / 3.5));
        padding: calc(var(--container-height) / (100 / 1.5));
    }
    .reg-input {
        padding: calc(var(--container-height) / (100 / 0.5));
    }
    .reg-btn {
        padding: calc(var(--container-height) / (100 / 0.5));
        font-size: var(--fs-600);
    }
    .login-here {
        font-size: var(--fs-600);
    }
}

@media (max-height: 46em) and (min-width: 28em) {
    .main > .container {
        max-width: var(--max-width-s);
    }
    .text {
        font-size: var(--fs-700);
    }
}

@media (max-height: 46em) and (min-width: 37em) {
    .text {
        font-size: var(--fs-760);
    }
}

@media (max-height: 46em) and (min-width: 55em) {
    .main {
        flex-direction: row;
    }

    .main > .container {
        flex-direction: row;
        width: 75%;
        max-width: 75%;
    }

    .cta {
        height: 100%;
        width: 50%;
    }

    .text {
        font-size: var(--fs-900);
        text-align: right;
    }

    .register {
        height: 100%;
        width: 50%;
    }

    .form {
        gap: calc(var(--container-height) / (100 / 5));
    }
}

@media (max-height: 46em) and (min-width: 74em) {
    .text {
        font-size: var(--fs-950);
    }
}